@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Ubuntu&display=swap');
*{
    margin:0;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --black1:#000000;
    --black2:#454545;
    --sky:#D9EDF7;
    --blue:#072EBD;
    --blue2:#67ADFF;
    --green:#13CEB6;
    --grey:#F7F7F7;
    --white:#ffffff;

}
body{
    width:100%;
    position: relative;
    background-color: #F7F7F7;
}
.flex{
    display:flex;
}
.menubar{
    position: relative;
    display: flex;
    background-color: var(--black1);
    padding:8px;
    flex-wrap: wrap;
}
.menubar .leftbox{
    position: relative;
    margin-left:110px;

   
    
}
.menubar .leftbox .logo a{
    color:var(--white);
    font-size: 35px;
    font-weight: 600;
}

.menu-icon{
    background-color: white;
    padding:2px 8px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    display: none;
}

.menubar .leftbox .menuitem{
    display:flex;
    margin:auto 25px;
}
.menubar .leftbox .menuitem li{
    position: relative;
    margin:0 12px;
}

.menubar .leftbox .menuitem li a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    opacity: 100%;
}
.menubar .leftbox .menuitem li a:hover{
    opacity: 60%;
    transition: .2s;
}
.menubar .rightbox{
    position: relative;
    margin:auto;
    width:30%;
    display: flex;
}
.menubar .rightbox ion-icon{
    color: var(--white);
    font-size: 15px;
    margin-top:2px;
    margin-right:4px
}
.menubar .rightbox p{
    color:white;
    font-size: 14px;
}
.menubar .rightbox a{
    color:white;
    margin:0 5px;
}
.menubar .rightbox .account a:hover,
.menubar .rightbox .language p:hover{
    opacity: 50%;
}

.menubar .rightbox .language-change{
    position: relative;
}
.menubar .rightbox .language-item{
    display:none;
}
.menubar .rightbox .language-list{
    position:absolute;
	background-color:var(--white);
	min-width:120px;
    z-index: 1;
    margin-top: 20px;
    margin-left: -60px;
    box-shadow: 0 0 1px var(--black1);
    border-radius: 2px;
    display: block;
    
}
.menubar .rightbox .language-list a{
    color:var(--black);
	padding:5px 16px;
	display:block;
}

.notice{
    width:100%;
    display:flex;
}



.notice .worktime{
    width:420px;
    background-color: var(--blue);
    padding:8px;
    font-size: 14px;
    color: var(--white);
}
.notice marquee{
    background-image:linear-gradient(to left,red, yellow);
    padding:8px;
}
.notice marquee p{
    color:var(--white)
}
.notice marquee strong{
    color: yellow;
}






.bg-overlay{
    width:100%;
    background-image: url("money.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding:100px 0;
}
.exchange-start{
    width:60%;
    background-color: #F7F7F7;
    margin: auto;
    padding:20px;
    border-radius: 10px;
}

.exchange-start h2{
    text-transform: capitalize;
    color: #746969;
    padding: 10px;
}

.exchange-start i{
    margin: auto;
    margin-right: 5px;
}
.exchange-start .send{
    width:45%;
    margin-right: 5%;
}

.exchange-start .received{
    width:45%;
}
.exchange-start select{
    width:100%;
    padding:10px;
    border-radius: 5px;
    outline: 0.5px solid var(--blue2);
    margin: 10px;
    border: none;
    
}
.exchange-start select:hover{
    box-shadow: inset 0 0 4px var(--blue2);
}

.exchange-start input{
    width:95%;
    padding:10px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: 0.5px solid var(--blue2);
    
}
.exchange-start input:hover{
    box-shadow: inset 0 0 4px var(--blue2);
}
.exchange-start .received input{
    cursor:not-allowed;
}
.exchange-start p{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.exchange-start .button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 90%;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    width:200px;
    margin:20px;
    margin-left: 40%;
    transition: .2s;
  

}
.exchange-start .button:hover{
    opacity: 75%;
    transition: .2s;
}
.exchange-start button a{
    color:white;
    font-size: 18px;
}







.service{
    box-shadow: 1px 1px 1px rgb(240, 232, 232);
    margin-bottom: 100px;
    padding:50px;
    background:var(--white);

    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 40px;
}
.service .service-content{
    display:flex;
}
.service .service-content i,
.service .service-content ion-icon{
     font-size: 50px;
     margin:auto 12px;
     color: var(--blue2);
}
.service .service-content h3{
    color: var(--green);
}
.service .service-content p{
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
}






.details{
    position:relative;
    padding:20px;
    display: flex;
    grid-gap:30px;
    width: 85%;
    margin:auto;
    
    
}
.details .exchange{
    position: relative;
    width:70%;
    text-transform: capitalize;
}
.details .incomplete{
    position:relative;
    display: grid;
    background:var(--white);
    padding:20px;
    width:100%;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    min-height: 500px;

}
.details .complete{
    position:relative;
    display: grid;
    background:var(--white);
    padding:20px;
    width:100%;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    min-height: 500px;
    margin-top: 25px;

}
.details .exchange .header{
    justify-content: space-between;
    align-items: flex-start;

}

.details .exchange h2{
    font-weight: 600;
    color:var(--blue);
    float: left;
}
.details .exchange .btn{
    position:relative;
    padding:5px 10px;
    background:var(--blue);
    text-decoration: none;
    color:var(--white);
    border-radius: 5px;
    float:right
}
.details table{
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
    padding: 15px;

}
.details table thead td{
    font-weight: 600;
    
}
.details table tr{
    color:var(--black1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding:8px 2px;
    border-radius: 3px;
}
.details table tbody tr td{
    font-size: 13px;
}
.details table tbody tr:last-child{
    border-bottom: none;
}
.details table tbody tr:hover{
    background: var(--blue);
    color:var(--white);
    padding:0 2px;
    border-radius: 3px;
}
.details td:last-child{
    padding-right: 8px;
}
.details table td{
    text-align: center;
    margin:0;
    padding:-5px;
}

.details .green{
    padding:2px 4px;
    background-color: #09E072;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}

.details .hold{
    padding:2px 4px;
    background-color: #5BC0DE;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.details .timeout{
    padding:2px 4px;
    background-color: #D9534F;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.details .Accepted{
    padding:2px 4px;
    background-color: #5CB85C;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
}
.details table  .img{
    width:20px
}
.details table img{
    width:100%;
    margin-right:50px
}
.details table .coin{
    display:flex;
    margin-left: 5;
}
.details table i{
    margin-right: 5px;
}
.details table p{
    margin-left: 5px;
}



 
.details .review-box{
    position:relative;
    display: grid;
    background:var(--white);
    padding:20px;
    width:100%;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    margin-top: 25px;

}
.details .review-box hr{
    margin:20px 5px;
    opacity: 20%;
}
.customer-review{
    padding:10px;
    display:flex;
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}
.review-content{
    border:1px solid rgb(230, 224, 224);
    border-radius: 5px;
    margin-right:2%;
    padding:10px
}
.review-content p{
    margin: 4px;
    text-align: justify;
    font-size: 13px;
}
.review-content .content{
    width:250px
}
.review-content i{
    margin-right: 5px;
}
.review-content .user{
    font-size: 12px;
    font-weight: 600;
}
.review-content .positive{
    padding:2px 4px;
    background-color: #5CB85C;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
    width:30%
}
.review-content .neutral{
    padding:2px 4px;
    background-color: #F0AD4E;
    color:var(--white);
    border-radius:4px;
    font-size:14px;
    font-weight: 500;
    width:30%

}




.details .sidebar{
    position: relative;
    width:22%;
    text-transform: capitalize;
    margin-left: 3%;
    display: block;
}

.details .sidebar .tracking{
    position:relative;
    background:var(--white);
    padding:20px;
    width:100%;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
  
}
.details .sidebar .tracking h3{
    font-weight: 600;
    color: var(--blue);
    margin: 5px 0px
}
.details .sidebar .tracking hr{
    margin: 10px;;
    opacity: 10%;

}
.details .sidebar .tracking input{
    width:90%;
    margin: 5px auto;
    padding:10px;
    outline: 1px solid var(--blue2);
    border: none;
    border-radius: 5px;

}
.details .sidebar .tracking input:hover{
    box-shadow: inset 0 0 2px var(--blue2);
}


.details .sidebar .button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    display: inline-block;
    width: 90%;
    margin: 10px 2px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    transition: .2s;

  }


  .details .sidebar .tracking .button:hover{
      opacity: 75%;
      transition: .2s;
  }

  .details .sidebar .today{
    position:relative;
    display: grid;
    background:var(--white);
    padding:20px;
    width:100%;
    margin-top: 25px;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    min-height: 350px;
  
}
.details .sidebar .today h3{
    font-weight: 600;
    color: var(--blue);
    margin: 5px 0px
}
.details .sidebar .today hr{
    margin: 10px;;
    opacity: 10%;

}
.details .sidebar td{
    padding:8px
}
.details .sidebar tbody td:nth-child(2){
    color: #ff0808;
}
.details .sidebar tbody td{
    font-size: 12px;
}




.details .sidebar .reserve{
    position:relative;
    display: grid;
    background:var(--white);
    padding:20px;
    width:100%;
    margin-top: 25px;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    border-radius:20px;
    min-height: 350px;
  
}
.details .reserve h3{
    font-weight: 600;
    color: var(--blue);
    margin: 5px 0px
}
.details .reserve hr{
    margin: 10px;;
    opacity: 10%;
}
.details .sidebar .reserve .reserve-content{
    margin:5px 0;
}

.details .sidebar .reserve img{
    width:100%;
    border-radius: 50%;
}

.details .sidebar .reserve .img{
    width:25px;
    height: 25px;
    border: 2px solid grey;
    border-radius: 50%;
    margin:5px;
    margin-right: 15px;
}
.details .sidebar .reserve h4{
    font-size: 14px;
}
.details .sidebar .reserve p{
    font-size: 12px;
}








.shortcut{
    margin-top: 80px;
    text-transform: capitalize;
    padding:50px;
    display: flex;
    background-image:linear-gradient(to right,#13D6BC, #68ADFF);
}
.shortcut h3{
    color: var(--white);
    padding:10px;
    margin-bottom: 10px;
}
.shortcut a{
    display: block;
    color: var(--white);
    padding:5px 10px;
}
.shortcut a:hover{
   opacity: 75%;
}
.shortcut-item{
    margin-right: 30%;
}







#myBtn {
    display: none;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: var(--red); 
    cursor: pointer; 
    padding: 5px; 
    border-radius:5px; 
    font-size: 12px; 
    background: none;
    box-shadow: 0 0 2px var(--sky);
  }
  
  #myBtn:hover {
    box-shadow: 0 0 2px var(--sky);
  }






  .abc h3,
  .abc p{
      opacity: 80%;
  }